<ion-header>
  <ion-navbar>
    <ion-title>
      Table
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-item *ngFor="let hiragana of hiraganas">
    <!-- <ion-item *ngFor="let hiragana of hiraganas"> -->
      <ion-label>{{hiragana.hiragana}} / {{hiragana.katakana}} <br>  </ion-label>
      <ion-checkbox [(ngModel)]="hiragana.roumaji">{{hiragana.kana}} </ion-checkbox>

    </ion-item>
<!--
    <ion-card *ngFor="let hiragana of hiraganas">
      <ion-icon item-start>({{ hiragana.roumaji }})</ion-icon>
      <ion-card-content>
        <div class="text">
          {{ hiragana.kana }}
        </div>
      </ion-card-content>
    </ion-card> -->
</ion-content>
