<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title>
      Kana
    </ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="kana">
      <ion-segment-button value="{{selections.first}}">
        Hiragana
      </ion-segment-button>
      <ion-segment-button value="{{selections.second}}">
        Katakana
      </ion-segment-button>

    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list-header class="content titre">{{ kana }}</ion-list-header>

  <div class="content">

    <div *ngIf="kana=='hiragana'" >
      <ion-card *ngFor="let hiragana of hiraganas">
        <ion-icon item-start>({{ hiragana.roumaji }})</ion-icon>
        <ion-card-content>
          <div class="text">
            {{ hiragana.kana }}
          </div>
        </ion-card-content>
      </ion-card>
    </div>

    <div *ngIf="kana=='katakana'" >
      <ion-card *ngFor="let katakana of katakanas">
        <ion-icon item-start>({{ katakana.roumaji }})</ion-icon>
        <ion-card-content>
          <div class="text">
            {{ katakana.kana }}
          </div>
        </ion-card-content>
      </ion-card>
    </div>

  </div>
</ion-content>
