page-kana {

  .card{
    display: inline-block;
    width: 18%;
    text-align: center;
    padding: 1px;
    margin: 1px; /* Added */
    border: 1px solid black;
  }
  .text{
    font-size: 135%;
  }
  .titre{
    font-size: 300%;
    font-weight: bold;

  }
  .content {
    margin: 0 3% auto 3%;
  }
}
