<!--
  Generated template for the ContactPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card class="img">
    <a href="https://t.me/Nitou">
      <img src="assets/imgs/telegram_logo.png" />
    </a>
    <ion-card-content text-right class="right">
      - because all the cool guys are on telegram! -
    </ion-card-content>
  </ion-card>

  <ion-card class="img">
    <a href="https://github.com/nicolasreymond">
      <img src="assets/imgs/gh.jpg" />
    </a>
    <ion-card-content text-right class="right">
      - keep calm and rebase! -
    </ion-card-content>
  </ion-card>

  <ion-card class="img">
    <a href="https://www.facebook.com/nitou12">
      <img src="assets/imgs/facebook.png" />
    </a>
    <ion-card-content text-right class="right">
      - Be watched. With no escape. -
    </ion-card-content>
  </ion-card>


</ion-content>
