<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-card class="">
      <ion-card-header>
        <h2>Ready to learn japanies ?</h2>
      </ion-card-header>
        <img class="wano" src="assets/imgs/wano.png" />
    </ion-card>
</ion-content>
